<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Alternative for</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="reset.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="multiselect.css" />
  <script src="main.js"></script>
  <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.2/fuse.min.js"></script>

</head>

<body>
  <div id="app" class="app">
    <div class="u-m">
      <h1 class="headline-xxl u-m">Healthy Alternatives</h1>
      <multiselect ref="focused" v-model="value" placeholder="Suche Alternative..." :options="sortedOptions" :multiple="false" :track-by="options.name" :custom-label="customLabel">
      </multiselect>
      <div class="list">
          <div v-for="val in value.alt"><a target="_blank" v-bind:href="linkToShop + val">{{val}}</a></div>
      </div>
    </div>
    <div class="footer u-m">
      <h2 class="headline-m">Todays Healthy Alternative</h2>
      {{randomName}}: <a target="_blank" v-bind:href="linkToShop + randomAlt">{{randomAlt}}</a>
      <!-- https://www.amazon.de/s?k= -->

      
    </div>
  </div>
</body>

</html>