:root {
    --m-xxs: 2;
    --m-xs: 4;
    --m-s: 8;
    --m-m: 16;
    --m-l: 24;
    --m-xl: 32;
    --m-xxl: 48;

    --xxs: calc(var(--m-xxs) * var(--px));
    --xs: calc(var(--m-xs) * var(--px));
    --s: calc(var(--m-s) * var(--px));
    --m: calc(var(--m-m) * var(--px));
    --l: calc(var(--m-l) * var(--px));
    --xl: calc(var(--m-xl) * var(--px));
    --xxl: calc(var(--m-xxl) * var(--px));

    --px: 1px;

    --color-font: rgba(0,0,0,.87);
    --color-font-sec: rgba(0,0,0,.73);
}

html {
  font-family: 'Lato', 'Avenir', 'Arial', sans-serif;
  line-height: 1.6;
}

.headline-xxl{
    font-weight: 100;
    line-height: 1.2;
    font-size: var(--xxl);
}

.headline-m{
    font-weight: 100;
    font-size: var(--m);
}

a{
  text-decoration: none;
  color: var(--color-font);
}

a:visited{
  color: var(--color-font-sec);
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    display: flex;
}

.list{
    text-align: left;
    line-height: 1.6;
    padding: var(--m);
}

.app{
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1024px;
    align-items: center;
}


/* Utilities */

.u-m-xs{
    margin: var(--xs);
}

.u-m-s{
    margin: var(--s);
}

.u-m{
    margin: var(--m);
}

/* END - Utilities */
  